{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <h2>
      <a href="{% url 'articles:list' %}">LOGO</a>
    </h2>
    <nav>
      <ul>
        <li>
          <form class="logout_link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">LOGOUT</button>
          </form>
        </li>
      </ul>
    </nav>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
